/*
website styles:

background-color: #283149
text color: #DA0463
footer text color: #DBEDE8

*/

/* ******************************************
*   Basic styles
********************************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #283149;
}

.main-container {
  width: 95%;
  text-align: center;
  margin: 60px auto;
}

/* ******************************************
*   Header styles
********************************************* */

.header-container {
  width: 100%;
}

.header-container h1 {
  /* text-transform: uppercase; */
  font-family: "Arvo", cursive;
  letter-spacing: 5px;
  font-size: 500%;
  color: #dbedf3;
}

/* ******************************************
*   Playground styles
********************************************* */

.action-container {
  width: 100%;
  margin: 10% auto;
}

.drum-set {
  display: inline-block;
  text-align: center;
}

.drum-set button {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 10px solid #404b69;
  font-size: 5rem;
  line-height: 2;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  margin: 10px;
  font-family: "Arvo", cursive;
}

.w {
  background-image: url(images/tom1.png);
}

.a {
  background-image: url(images/tom2.png);
}

.s {
  background-image: url(images/tom3.png);
}

.d {
  background-image: url(images/tom4.png);
}

.j {
  background-image: url(images/snare.png);
}

.k {
  background-image: url(images/crash.png);
}

.l {
  background-image: url(images/kick.png);
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

/* ******************************************
*   Footer styles
********************************************* */

.footer-container p {
  color: #dbede8;
  font-family: sans-serif;
  font-size: 0.6em;
}
